* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#main {
  background: #222;
}

#page1 {
  height: 100vw;
  width: 100vw;
  background: #c4bcb3;
}

.nav {
  height: 120px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2227;
}
.nav > * {
  width: 30%;
}

.nav h5 {
  font-weight: 100;
  font-size: 16px;
}

.nav img {
  height: 30px;
}

.nav i {
  font-size: 20px;
  text-align: right;
}

/* elems  */

#elems {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 400px;
  padding: 20px;
}

#elems > * {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

#elems > * > * {
  margin: 10px 0;
}

#elems img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

#elems #elem1 {
  border-right: 2px solid #2227;
  padding-right: 30px;
}
#elems #elem3 {
  border-left: 2px solid #2227;
  padding-left: 30px;
}

#elems > * > h4 span {
  background: maroon;
  display: inline-block;
  padding: 2px;
  margin: 0 10px;
  color: white;
}

#elems #elem2 {
  text-align: center;
}

.elem-image {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.elem-image:hover img {
  transform: scale(1.15);
}

#elem2 h2 {
  font-size: 5rem;
}

#page1 h1 {
  font-size: 330px;
  margin: auto;
  text-align: center;
  font-weight: 200;
  background: black;
  color: #c4bcb3;
  font-family: cursive;
}

#page1 .flex-center {
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page1 .flex-center h1 {
  font-size: 10.2rem;
  margin: 30px;
  border-radius: 20px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#page1 .flex-center h1 span {
  display: inline-flex;
  animation: hi .7s ease 3s infinite alternate;
  animation-fill-mode: backwards;
  transform: rotate(5deg);
  transform-origin: bottom;
}



@keyframes hi {
  0%, 100% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
}

