@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Playwrite IT Moderna";
  font-optical-sizing: auto;
 
}

html {
  font-size: 85%;
}

body {
  width: 100%;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #190c02;
  box-shadow: 3px 3px 20px rgb(255, 115, 0) inset;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
  color: #67c8bb;
  padding: 2rem 5rem;

  user-select: none;
}
.container h1 {
  font-size: 4rem;
  color: aqua;
  margin: 0.5rem 0;
  text-shadow: 0 18px 11px rgb(192, 84, 17);
}

.btn {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 2.5rem;
  color: rgb(165, 44, 147);
  cursor: pointer;
  margin: 2rem 0;
}

.container .meme_box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meme-title {
  font-size: 2.5rem;
  color: bisque;
  font-style: italic;
}

.meme-box {
  position: relative;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meme-img {
  position: relative;
  width: 35rem;
  margin: 3rem 0;
}

.meme-image {
  width: 100%;
  
  /* Initially hide the image */
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -70%);
  display: none; /* Initially hide the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.meme-author {
  font-size: 2rem;
  letter-spacing: 1.5px;
}

footer {
  border-top: 1px solid #ddd;
  width: 90%;
}

footer p {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 2.2rem 0;
  text-align: center;
  color: rgb(163, 112, 214);
  line-height: 1.8rem;
}

footer p span {
  color: aqua;

  text-decoration-line: underline;
  text-underline-offset: 10px;
}

@media (max-width: 1250px) {
  html {
    font-size: 85%;
  }

  .container h1 {
    font-size: 3.6rem;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 75%;
  }

  .container h1 {
    font-size: 3rem;
  }
  .meme-img {
    margin: 4rem 0;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 70%;
  }

  .container h1 {
    font-size: 2.8rem;
  }
  .meme-img {
    margin: 4rem 0;
  }

  footer p span {
    text-decoration-line: none;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 60%;
  }

  .container h1 {
    font-size: 2.4rem;
    margin-bottom: 5rem;
  }
  .meme-img {
    margin: 4rem 0;
    width: 28rem;
  }

  footer p span {
    text-decoration-line: none;
  }
  .spinner {
    left: 40%;
    transform: translate(-50%, -65%);
  }
}

@media (max-width: 468px) {
  html {
    font-size: 55%;
  }

  .container h1 {
    font-size: 2.1rem;
    margin-bottom: 7rem;
  }
  .meme-img {
    margin: 4rem 0;
    width: 22rem;
  }

  footer p span {
    text-decoration-line: none;
  }
}

@media (max-width: 388px) {
  html {
    font-size: 50%;
  }

  footer p {
    font-size: 1rem;
    font-weight: 400;
    padding: 2rem 0;
    line-height: 1.5rem;
  }

  .spinner {
    left: 35%;
    transform: translate(-50%, -70%);
  }
}
