*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: whitesmoke;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
}

.refresh{
    width: 30px;
    aspect-ratio: 1;
    padding: 5px;
    border-radius: 20px;
    background: red;
    overflow: hidden;
    cursor: pointer;
}



.color-container{
    width: 300px;
    color: #fff;
    height: 150px;
    margin: 5px;
    background: orange;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.color-container::after{
    content: 'Copy';
    color: rgba(211, 193, 193, 0.637);
    background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: all 0.25s ease;
}

.color-container:hover::after{
    top: 0;
}