*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: orange;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

.section{
    text-align: center;
}

#click{
    font-size: 8rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    filter: grayscale(1);
    margin: 10px;
    cursor: pointer;
    transition:  filter 0.2s ease-in-out;

}

#click:hover{
    filter: grayscale(0.5);
}

#emoji-name{
    font-size: 1rem;
    font-weight: 600;
    color: darkblue;
}