* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: cursive;
    background-color: orange;
    position: relative;
  }

  img{
    width: 70px;
    mix-blend-mode: multiply;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    z-index: 2;
  }

  .clock{
    background: lightgray;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(00, 0, 0, 0.2);
    border: 2px solid black;
    position: relative;
  }

  .numbers div{
    position: absolute;
    font-size: 27px;
    color: red;
    text-shadow: 0 5px 5px orange;
    font-weight: bold;
  }

  .twelve{
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
  }

  .three{
    top: 50%;
    left: 95%;
    transform: translateY(-50%);
  }

  .nine{
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
  }


  .six{
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

  }


  .arrows{
    display: flex;
    width: 100;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .arrows::before{
    content: '';
    width: 25px;
    height: 25px;
    background: green;
    border-radius: 50%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.45);
    z-index: 4;
  }

  .arrows div{
    background: white;
    width: 7px;
    position: absolute;
    height: 120px;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0 ;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);

  }

  .arrows .hour{
    height: 80px;
    background: goldenrod;
    transform: rotate(30deg);
  }


  .arrows .second{
    height: 100px;
    width: 4px;
    transform: rotate(250deg);
  }

  @media screen and (max-width: 500px) {
    .clock{
      width: 250px;
      height: 250px;
    }
    img{
      width: 50px;
    }
    .numbers div{
      font-size: 20px;
    }
    .arrows div{
      width: 5px;
    }
    
  }