* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  flex-direction: column;
  gap: 50px;
  background: black;
  text-align: center;
  overflow: hidden;
  color: white;
}
h2 {
  margin: 100px;
  font-size: 4rem;
}

.image-container {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s ease-in;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  border-radius: 15px;
  overflow: hidden;
}

.image-container span img {
  width: 100%;
  height: 100%;
}

.btn-container {
  position: relative;
  width: 100%;
}

.btn {
  position: absolute;
  bottom: -80px;
  background: slateblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: darkslateblue;
}

#prev {
  right: 20%;
}

#next {
  left: 20%;
}

@media screen and (max-width: 880px) {
  .image-container {
    width: 200px;
    height: 200px;
  }
  h2 {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
  }
}
