*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right bottom, rgb(97, 16, 163),rgb(181, 19, 196) , rgb(255, 255, 255));
    display: grid;
    place-content: center;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 8px;
    text-transform: capitalize;
    color: rgb(39, 31, 31);
}

h1{
    display: inline-block;
    font-style: italic;
}



span{
    width: 5px;
    height: 10px;
    border: 3px solid #000;
    animation: animate 3s infinite alternate;
    opacity: 1;
    transform: scaleY(1.02);
    background: red;
    color: transparent;
}

@keyframes animate {
    from{
        opacity: 1;
        transform: scaleY(0.8);
    }
    to{
        opacity: 0;
        transform: scaleY(1.02);
    }
}
